/* body{
    padding: 0 150px;
}

header{
    margin-left: -150px;
    margin-right: -150px;
} */

/* CHIEDI SE DEVI TRASLARE TUTTE LE MISURE DA PIXEL A PERCENTUALE oppure va bene così */

/* TESTO */

    h1{
        color: var(--title-color);
        font-size: 40px;
    }

    .wht-title{
        --title-color: white;
        padding: 15px 0px;
        line-height: 1.3;
    }

    .blck-title{
        --title-color: #23272A;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    h2{
        color: var(--small-title-color);
    }

    .small-title-main{
        --small-title-color: #23272A;
        background-image: url(/img/stars.svg);
        background-repeat: no-repeat;
        background-size: 480px;
        background-position: center;
        padding-top: 5%
    }

    .small-title-footer{
        --small-title-color: #7389DA;
    }

    h5{
        color: #7389DA;
    }

    p{
        color: var(--text-color);
    }

    .wht-txt{
        --text-color: white;
        padding: 10px 0px;
        width: 60%;
        margin: 0 auto;
        /* CHIEDI cosa sia il contorno ancora più esterno al testo e come rimuoverlo */
        line-height: 1.7;
    }

    .blck-txt{
        --text-color: #23272A;
        line-height: 1.7;

    }

    .footer-text{
        color: white;
        font-size: smaller;
    }

/* TESTO */

/* LOGO  */

    .logo{
        display: flex;
        align-items: center;
    }

    #footer-logo{
        margin: 3% 0% 30% 8.5%;
    }

/* LOGO  */

/* LINKS  */

    .nav-links{
        color: white;
        display: flex;
        gap: 50px;
        align-items: center;
        /* perché GAP SI e JC:S-B NO? forse devo creare un sotto-contenitore... */
        font-size: smaller;

    }

/* LINKS  */

/* BOTTONI */

    button{
        background-color: var(--bg-color);
        padding: 10px 15px;
        margin: 0px 10px;
        border-radius: 20px;
        font-size: large;
    }

    .little-white-button{
        --bg-color: white;
        font-size: 12px;
        
    }

    .little-blue-button{
        --bg-color: #7189DA;
        font-size: 12px;
        color: white;
    }

    .big-white-button{
        --bg-color: white;
    }

    .big-black-button{
        --bg-color: #23272A;
        color: white;
    }

    .big-blue-button{
        --bg-color: #7189DA;
        color: white;
        margin-top: 4%;
    }

/* BOTTONI */

/* ICONE */

    .icons{

    }

    #coloured-icon{

    }

/* ICONE */

/* NAV-BAR */

    nav{
        display: flex;
        justify-content: space-between;
        background-color: #265EE9;
        padding: 1.2% 3%;
    }

/* NAV-BAR */

/* primo contenitore */

    .container-0{
        display: flex;
        justify-content: space-around;
    }

    .container-1{
        background-image: url(/img/jumbo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 85px;
    }
    
    .sub-container-1{
        display: flex;
        flex-direction: row;
    }

/* primo contenitore */

/* secondo contenitore */

    .img{
        width: 55%;
    }

    .container-2{
        display: flex;
        padding: 8% 12%;
    }

    .sub-container-2{
    padding: 4%;   
    }
/* secondo contenitore */


/* terzo cont  */
    .container-3{
        display: flex;
        padding: 8% 12%;
        background-color: #F5F5F5;
    }

    .sub-container-3{
    padding: 4%;   
    }
/* terzo cont  */

/* quarto cont  */

    .container-4{
        padding: 8% 12%;
        text-align: center;
        background-color: #F5F5F5;
    }

    #big-image{
        width: 100%;
    }

/* quarto cont  */

/* footer */

    footer{
        background-color: #23272A;
    }

    .container-5{
        display: flex;
        justify-content: space-around;
        padding: 5%;
    }

    #blue-row{
        background-color: #4e5c8c;
        height: 1px;
        margin: 0 8.5%;
    }

    .mini-footer{
        display: flex;
        justify-content: space-between;
        margin: 1.5% 8.5% 0% 8.5%;
        padding-bottom: 4%;
    }

    #bandierina{
        height: 11px;
    }

    #social{
        height: 20px;
        margin-right: 10px;
    }

/* footer */





